/*전체wrap*/
#content {
    overflow: hidden;
  }
  /*즉시지원 버튼, 스크랩 버튼*/
  #applyscrap button {
    margin-right: 30px;
  }
  /*채용정보 스크랩(별모양 버튼) 사이즈,색*/
  .scrap {
    color: rgba(128, 128, 128, 0);
    border: 1;
    border-color: rgba(255, 235, 205, 0.5);
    background-color: rgba(255, 235, 204, 0);
    overflow: hidden;
    width: 25px;
    height: 25px;
    
  }
  /*지원기간 표시 (글씨 크기)*/
  .applydate {
    display: inline;
    font-size: 8px;
  }
  /*즉시지원 버튼*/
  .applynow {
    color: coral;
    border-color: coral;
    height: 20px;
    width: 60px;
    font-size: 8pt;
    font-style: bold;
    border-radius: 8px;
    background-color: rgb(255, 238, 231);
  }
  /*불렛포인트 제거*/
  li {
    list-style: none;
  }
  /*메인페이지 채용공고 4개씩*/
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: rgba(33, 150, 243, 0);
    padding: 10px;
    height: 500px;
  }
  /*채용공고 칸*/
  .grid-container > li {
    background-color: rgba(255, 235, 205, 0);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
  }
/*채용공고 사이 이미지배너 4개짜리 한줄에 표시*/
  .imagebanner {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  /*채용공고 내 즉시지원, 지원기간, 스크랩 버튼 일렬로 표시*/
  #applyscrap {
    display: flex;
    justify-content: space-between;
  }
  /*채용공고 채용관 이름, 상품안내(더보기) 한줄표시*/
  .bannerwrap {
    display: flex;
    justify-content: space-between;
  }
  /*상품안내 버튼*/
  .bannerwrap button {
    background-color: rgba(128, 128, 128, 0);
    border: none;
  }
  /*상품안내 버튼 밑줄표시*/ 
  .viewmore{
    text-decoration: underline;
  }
  /*슬라이더 버튼*/
  .sliderbutton > div > button{
    border-radius: 50px;
    height: 100px;
    background-color: white;
  
  }

.bannerwrap h4 {
    margin-bottom: 10px;
    line-height: 26px;
    color: #171717;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.5px;
}

.grid-container div img {
  width: 180px;
  height: 72px;
}
  
.sliderwrap .carousel-control-next-icon {
  right: -8px;
  background-image: url(../images/next_middle.svg);
}

.sliderwrap .carousel-control-prev-icon {
  left: -8px;
  background-image: url(../images/prev_middle.svg);
}

.sliderwrap {
  background-color: rgba(226,234,243,.5);

}

.flow_banner_box {
  padding-top: 15px;
}

.sliderwrap .carousel-control-next, 
.sliderwrap .carousel-control-prev {
  width: 5%;
}

.flow_banner_box ul li {
  margin-left: 30px;

}

.grid-container li {
  box-sizing: border-box;
  width: 300px;
  height: 247px;
}