/* header 공간 설정 */
#wrap{
    width: 1240px;
    height: 280px;
    margin: 0;
    background-color: white;
}
#topArea{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.topContent{
    width: 1240px;
    height: 100%;
    margin: 0, auto;
    display: flex;
    align-items: center;
}

/* 죄측 상단 로고 */
.logo{
    display: flex;
    align-items: center ;  
}
.logo a span{
    display: flex;
    align-items: center;
    color: #171717;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -1,5px;
    font-weight: 500;
    margin-left: 21px;
}
.logo a span::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/project/onpick/images/onepickcheck.svg);
    background-size: 100%;
    margin-right: 8px;
    background-repeat: no-repeat;
}
.topMenu li:last-child::after {
    display: none
}
/* 우측 상단 메뉴 */
#topArea .topMenu{
    display: flex;
    height: 100%;
    margin-top: 15px;
    margin-left: 580px;
}
.topMenu li{
    padding: 0 16px 0 15px;
    position: relative;
    height: 100%;
    display: flex;
    float: left;
    align-items: center
}
.topMenu li a{
    line-height: 22px;
    color: #6a6a6a;
    padding: 0 1px;
    display: block;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}
.topMenu li::after {
    content: "";
    display: inline-block;
    background-color: #e8e8e8;
    height: 12px;
    width: 1px;
    position: absolute;
    top: 43.5%;
    right: 0;
}

/* 광고 베너 Banner */
.head_banner{
    position: relative;
    margin: 15px 0 0;
    text-align: center;
}
.head_banner .bann-wrap{
    display: inline-flex;
    background-size: 100%;
    border-radius: 8px;
}
