/* footer 크기설정 */
#footer,
.footer {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 1240px;
    margin: 40px auto 0px;
    background: #fff;
    border-top: 1px solid #ddd
}
#footer .copyright,
.footer .copyright {
    margin: 0px;
    padding: 23px 0px 30px
}
.footer__wrap {
    width: 100%;
    margin: 0 auto
}

/* footer advertisement 크기설정 */
.footer__advertisement {
    padding: 20px 0px;
    display: table;
    width: 100%
}

/* advertisement--text */
.footer__advertisement--text {
    display: table-cell;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    vertical-align: middle
}
.footer__advertisement--text a {
    display: block;
    color: #333
}

/* advertisement--image */
.footer__advertisement--image {
    display: table-cell;
    width: 495px;
    padding: 0;
    text-align: center;
    vertical-align: middle
}

/* footer_notice 설정 */
.footer__notice {
    position: relative;
    overflow: hidden;
    height: 53px;
    border: 1px solid #ebebeb;
    background: #f6f7f9;
    vertical-align: top
}
.footer__notice .list-service {
    position: absolute;
    right: 66px;
    top: 1px
}
.footer__notice .list-service:after {
    content: "";
    display: block;
    clear: both;
}
.footer__notice .list-service li {
    position: relative;
    float: left;
    line-height: 53px;
    padding-right: 15px
}
.footer__notice .list-service li:after {
    position: absolute;
    top: 50%;
    margin-top: -5.5px;
    right: 7px;
    content: "";
    display: block;
    width: 1px;
    height: 11px;
    background: #e0e0e0
}
.footer__notice .list-service li a {
    font-size: 12px;
    color: #333;
    letter-spacing: -0.5px
}
.footer__notice .list-service li a:hover {
    text-decoration: underline;
}

/* footer__notice-wrap 설정 */
.footer__notice-wrap {
    width: 500px;
    height: 100%;
    line-height: 53px;
    font-size: 0
}

/* footer 공지사항 설정 */
.footer__notice-title {
    display: inline-block;
    width: 64px;
    height: 100%;
    margin: 0px 0px 0px 20px;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box
}
.footer__notice-title a {
    color: #000;
    font-size: 12px
}
.footer__notice-title a:hover {
    text-decoration: underline
}

/* notice-text 설정 */
.footer__notice-text {
    display: inline-block;
    height: 100%;
    box-sizing: border-box
}
.footer__notice-text a {
    color: #000;
    font-size: 9px
}
.footer__notice-text a:hover {
    color: #000
}

/* notice-text [사전공지] */
.footer__notice-text .ellipsis {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    letter-spacing: -0.5px
}
.footer__notice-text .ellipsis:hover {
    text-decoration: underline
}
.footer__notice-text em {
    display: inline-block;
    color: #888;
    letter-spacing: -0.5px;
    vertical-align: top
}

/* footer__notice_service(더 보기) 설정 */
.footer__notice_service {
    position: absolute;
    top: 1px;
    right: 20px;
    height: 49px;
    margin-left: 4px;
    line-height: 53px;
    background: #f6f7f9
}
.footer__notice_service a {
    color: #000;
    font-size: 13px;
    font-weight: bold
}
.footer__notice_service a:hover {
    text-decoration: underline
}
.footer__notice_service a::after {
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 6px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20x%3D%270px%27%20y%3D%270px%27%20viewBox%3D%270%200%20492.004%20492.004%27%3E%0D%0A%20%20%20%20%3Cpath%20%0D%0A%20%20%20%20%20%20%20%20fill%3D%27%23c3c3c3%27%20%0D%0A%20%20%20%20%20%20%20%20d%3D%27M423.386%2C248.299l-256-245.327c-4.208-4.021-10.833-3.958-14.927%2C0.167l-64%2C63.998c-2.042%2C2.042-3.167%2C4.812-3.125%2C7.687%20c0.042%2C2.896%2C1.25%2C5.625%2C3.344%2C7.604l183.792%2C173.579L88.678%2C429.586c-2.094%2C1.979-3.302%2C4.708-3.344%2C7.604%20c-0.042%2C2.875%2C1.083%2C5.646%2C3.125%2C7.687l64%2C63.998c2.083%2C2.083%2C4.813%2C3.125%2C7.542%2C3.125c2.656%2C0%2C5.313-0.979%2C7.385-2.958%20l256-245.327c2.094-2.021%2C3.281-4.792%2C3.281-7.708C426.667%2C253.09%2C425.48%2C250.319%2C423.386%2C248.299z%27%2F%3E%0D%0A%3C%2Fsvg%3E");
    background-position: center;
    vertical-align: middle;
}

/* list-service 위치 */
.list-service{
    margin-right: 10px;
}

/* footer__service 설정 (회사소개) */
.footer__service {
    margin: 20px 0px 25px 0px;
    text-align: center;
}
.footer__service li {
    display: inline-block;
    margin: 0 15px
}
.footer__service li a {
    color: #000;
    font-size: 12px
}
.footer__service li a:hover {
    text-decoration: underline
}
.footer__service-item {
    display: inline-block;
    margin: 0px 8px
}

/* footer__help 설정 */
.footer__help {
    margin-top: 27px;
    color: #888;
    text-align: center
}
.footer__help-wrap {
    display: inline-block;
    font-size: 12px;
}
.footer__help-wrap::before {
    content: "l";
    display: inline-block;
    font-family: "\B3CB\C6C0", dotum, sans-serif;
    color: #ccc;
    margin: 0 7px
}

/* footer__help working hour */
.footer__help-wrap--working-hour::before {
    display: none;
}

/* footer__help FAX */
.footer__help-title {
    display: inline-block
}
.footer__help-title::after {
    content: ": ";
    display: inline-block;
    font-family: "\B3CB\C6C0", dotum, sans-serif;
    margin-left: 3px
}

/* footer__help-text */
.footer__help-text {
    display: inline-block
}
.footer__help-text span {
    letter-spacing: 0
}
.footer__help-text>a.footer__help-link {
    color: #888;
    text-decoration: none;
    letter-spacing: 0px
}
.footer__help-text>a.footer__help-link:hover {
    text-decoration: underline
}

/* footer sns 설정 */
.footer__sns {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 4px;
}
.footer__sns::before {
    content: "l";
    display: inline-block;
    font-family: "\B3CB\C6C0", dotum, sans-serif;
    color: #ccc;
    margin: 0px 7px;
    vertical-align: -2px
}

.footer__sns-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px
}
.footer__sns-item a {
    display: block;
    width: 20px;
    height: 24px;
    overflow: hidden;
}

/* copyright 설정 */
.copyright {
    padding: 23px 0px 30px ;
    text-align: center;
    font-size: 11px;
    font-family: tahoma, sans-serif;
    letter-spacing: 0px
}
.copyright a {
    color: #888
}